body {
  height: 100vh;
}

.container {
  height: 100%;
}

h2,
p {
  font-weight: bold;
}

.bodyDiv {
  background-image: url("../images/SyamImage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textDiv {
  border: 3px solid white;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  width: 45vh;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
