/*.lead::first-line {
  font-weight: bold;
  font-size: 30px;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  display: block;
}

.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  margin-left: 10px;
}*/

/*input {
  background-color: #343a40;
}*/

/*footer {
  padding: 20px 0;
}*/

ul.list-inline li {
  display: inline-block;
}

/*footer p {
  margin-bottom: 10px;
  color: #fdfbfb;
}

footer a {
  filter: brightness(150%);
}*/

body {
  height: 100vh;
}
.container {
  height: 100%;
}

.bodyDiv {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-image: url("../images/SyamImage.jpg");
}

h2,
p {
  color: white;
  font-weight: bold;
}

.textDiv {
  float: right;
  margin-left: 400px;
}
